

.heroAboutContainer {
  position: relative;
  height: 100vh;
  background-image: url(../../../public/QueenAbout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroAboutContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.heroAboutContainer h1 {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 55px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}



.ab-sec1{
  background: #2c540e;
  border-radius: 5rem;
  margin-top: 2rem;
}