body {
  overflow-x: clip;
}

.creativeContainer {
  position: relative;
  height: 100vh;
  background-image: url(../../assets/creativeS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creativeContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.creativeContainer h1 {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 55px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Creative1 {
  background: url(../../assets/GraphicDesignIMG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.Creative2 {
  background: url(../../assets/BrandingIMG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Creative3 {
  background: url(../../assets/ArtCrafts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.pText{
  font-size: 23px;
  color: rgb(255, 255, 255);
}