@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: clip;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.custom-img {
  background-image: url(../assets/gallery14.jpg);
}

.custom-img1 {
  background-image: url(../assets//gallery6.jpg);
}

.custom-color {
  background-color: #004d40;
}

.custom-color:hover {
  background-color: #ffd700;
}

.custom-img2 {
  background-image: url(../assets/gallery16.jpg);
}

.custom-img3 {
  background-image: url(../assets/gallery18.jpg);
}

.custom-img4 {
  background-image: url(../assets/gallery19.jpg);
}

.custom-homeHero{
  background-image: url(../assets/Stardust.jpg);
}
