@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.custom-img {
  background-image: url(../assets//productHero.jpg);
}