@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.custom-img {
  background-image: url(../assets//productHero.jpg);
}

.custom-img1 {
  background-image:  url(../assets//IMG_1307.JPEG.jpg);
}

.custom-color {
  background-color: #004d40;
}

.custom-color:hover {
  background-color: #ffd700;
}

.custom-img2 {
  background-image: url(../assets/aboutSec.jpg);
}

.custom-img3 {
  background-image: url(../assets//1acf2568-5ea6-43b9-b5cd-d08e712aa5c1.JPG);
}

.custom-img4 {
  background-image: url(../assets//IMG_1286.JPEG.jpg);
}
