.logo {
  width: 80px;
}

.mobileNavToggle:hover {
  color: #004d40;
}

.AiOutlineClose {
  color: black;
  margin-left: 150px;
}

.p {
  font-size: 15px;
}

.p:hover {
  color: gold;
}

.fiMenu {
  margin-top: 13px;
  margin-left: 12rem;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: #004d40;
  padding: 0.5rem;

  font-size: 1rem;
  line-height: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 3;
}

.p {
  font-size: 15px;
}
