.logo {
  width: 80px;
}

.bg {
  background: #004d40;
}

.p {
  font-size: 15px;
}



.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 3;
}

.p {
  font-size: 15px;
}
