.custom-homeHero {
  background-image: url(../../../public/images/Stardust.jpg);
}

.buttons a {
  padding: 20px 40px;
  border: solid white 1px;
}

.buttons a:hover {
  background-color: white;
  color: black;
  transition: 0.25s background-color;
  cursor: pointer;
}

.video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .contents h1 {
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5rem;
    font-weight: 600;
    padding: 2rem 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .heroMain {
    text-align: center;
  }

  .content {
    font-size: 17px;
    font-weight: bolder;
  }

  .content-P {
    font-size: 10px;
    font-weight: 200;
  }
}
